<ion-view hide-nav-bar="true" can-swipe-back="false"
          class="package-pager-pane" ng-class="{showBars: pager.showBars}">
  <ion-header-bar class="bar-calm">
    <a class="button back-button buttons button-clear button-clear header-item"
       ng-click="$ionicGoBack()" href="#/">
      <i class="icon ion-ios-arrow-back"></i> Back
    </a>
    <div class="buttons buttons-right">
      <span class="right-buttons">
        <a class="button button-icon icon ion-gear-b" href="#/settings"></a>
        <a class="button button-icon icon ion-share" ng-click="pager.share()" ng-show="pager.canShare"></a>
      </span>
    </div>
  </ion-header-bar>
  <ion-content scroll="false" class="package-slider">
    <ion-slide-box on-slide-changed="pager.toggleBars(false)" ng-click="pager.toggleBars()"
                   on-swipe-up="pager.toggleLanguage()" on-swipe-down="pager.toggleLanguage()">
      <ion-slide ng-repeat="page in pager.pageNumbers">
        <div class="page" compile="page.html"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <div class="bar bar-footer bar-balanced" ng-show="pager.hasParallelLang"
       ng-click="pager.toggleLanguage()">
    <div class="buttons buttons-center">
      <a class="button button-icon icon ion-loop"></a>
    </div>
  </div>
</ion-view>
