<ion-pane class="package-pager-pane" ng-class="{showBars: pager.showBars}">
  <ion-header-bar class="bar-calm">
    <a class="button back-button buttons button-clear button-clear header-item" ng-click="$ionicGoBack()"
       href="#/">
      <i class="icon ion-ios-arrow-back"></i> Back
    </a>
  </ion-header-bar>
  <ion-content scroll="false" class="package-slider">
    <ion-slide-box on-slide-changed="pager.toggleBars(false)" ng-click="pager.toggleBars()"
                   on-swipe-up="pager.toggleLanguage()">
      <ion-slide ng-repeat="page in pager.pageNumbers">
        <ng-include src="'kgp/slide'+page+'.html'"></ng-include>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title">Footer</div>
  </div>
</ion-pane>
