<ion-view title="{{langPicker.title}}" class="lang-picker-view">
  <ion-content class="padding">
    <div class="lang-row" ng-repeat="lang in langPicker.languages | orderBy : 'name'"
         ng-click="langPicker.selectLang(lang)">
      <div class="lang-row-status">
        <i class="icon ion-checkmark" ng-show="lang.selected"></i>
        <div class="loader" ng-show="lang.loading"></div>
      </div>
      <div class="lang-title">{{lang.name}}</div>
      <div class="lang-row-dow"><span ng-hide="lang.downloaded">Download</span></div>
    </div>
  </ion-content>
</ion-view>
